 html{
    margin: 0;
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
    background-image:  url("imagens/f1_copia1.avif");
    background-repeat: no-repeat;
    background-color: #101319;
    
}

body{
    margin: 0;
    overflow-x: hidden;
}

.header_color-dark{
    background-color:#000000;
    color: white;
    
}

.nav-header{
    padding: .5em;
    
}
.logo_header{
    max-width: 6em;
    align-items: center;
    margin-left: 5em;
    margin-right: 1em;
}


.header_site{
    display: flex;
    align-items: center;
    

}

.header_ul{
    display:flex;
    justify-content:left;
    align-items: center;
    font-size: .8em;
    margin: 0;   
    padding: 0;
    list-style-type: none;
    gap: 1em; 
}

.li_header{
    text-decoration: none;
    color: white;
}

.dealer_location{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right:auto;
    margin-left: auto;
    padding-left: 1em; 
    border-radius: 3em; 
    background-color: #000000;
    color: white;
    border: none; 
    font-weight: bold;
    padding-right:1em;

}

.botaum:hover{
    border: 1px solid white;
    padding: 1em;
    
}

.localizar_button{
    max-width: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}

.hero_title{
    display: flex;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    margin-top: 18.5em;
    margin-left:3em;
    letter-spacing: 4px;
    padding-left: 2em;

}

a[class$="imgbtn"]::before{
    content: url(pin.png);
    justify-content:column;
    margin: 0;
    max-width: .3em;
}

.imgbtn{
    max-width:1.5em;
}

h1{
    display: flex;
    color: black;
}

.first_button{
    display: flex;
    font-weight: bold;
    max-width: fit-content;
    color:#ced8e0;
    font-size: .85em;
    background-color:#181D25;
    border-radius: 2em;
    text-decoration: none;
    padding: 1.2em;
    margin: 3.5em 13em 5em;
}

.content_principal{
    padding-bottom: 5em;
}

.subtitle_content{
    font-size: 2em;
}

.content_paragraph{
    font-size:1.2em 
}

.content_principal-babosa{
    margin: 15em 6em 5em;
    
}

.second_image{
    display:flex;
    justify-content: center;
    margin: auto;
    border-radius: 2em;
    width: 91%;
    align-items: center;
}

.action_image1{
    display: flex;
    padding-top: 3em;
    padding-bottom: 5em;
}

.third_image{
   align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: 2em;
    border-radius: 2em;
    margin-left: auto;
    margin-right: .6em;
    
   
}

.fourth_image{
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: 2em;
    border-radius: 2em;
    margin-right: auto;
    margin-left: .6em;

    
}

.action_image2{
    display: flex;
    padding-top: 3em;
    
}

.piloto_image1{
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: 2em;
    border-radius: 2em;
    margin-left: auto;
    margin-right: .6em;
}

.piloto_image2{
    align-items:center;
    justify-content: space-between;
    width: 45%;
    margin: 2em;
    border-radius: 2em;
    margin-right: auto;
    margin-left: .6em;

}

.description_pilot-organize{
    display: flex;
    align-items: center;
}

.description_pilot1{
    max-width: 45%;
    margin-right: auto;
    margin-left: 5.5em;
    padding-right:1em ;
    color: #B5B7B8;
    font-weight: 500;
}

.description_pilot2{
    max-width: 55%;
    margin-left: auto;
    margin-left: 1em ;
    padding-right: 3em;
    color: #B5B7B8;
    font-weight: 500;
}

.father_fifth-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifth_image{
    margin-top: 5em;
    border-radius: 2em;
}

.color_choice-help{
    max-height: 70%;
    margin: 4em;
    margin-bottom: .8em;
}

.color_choice-help-p{
    max-width: 80%;
    margin: 2em;
    margin-left:7em;
}

.third_p{
    margin-left: 3em;
    margin-bottom: 4em;
}

.third_h2{
    margin: 2em;
    margin-bottom: 1em;
}

.footer_p{
    font-size: .9em;
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 6em;
    font-weight: bold;
    color:#B5B7B8;

}

.last_video{
    max-width: 100%;
    max-height: 100%;
}


.last_article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 3em;
}

.last_f1-car{
    margin: 1em;
    margin-top: 7em;
    margin-bottom: 5em;
    border-radius: 2em;
}

.hero_subtitle2{
    font-size: 2.5em;
    margin: 1em;
}
.hero_p2{
    margin-left: 3.5em;
    margin-bottom: 3.5em;
    font-weight: bold;
    font-size: 1em;
    color: #B5B7B8;  
}

.button_last{
    font-family: "Montserrat";
    font-weight: bold;
    text-decoration: none;
    background-color: #646b71;
    color: white;
    margin-left: 3.5em;
    padding: 1.3em;
    border-radius: 2em;
    margin-top: 2em;
}

.button_last:hover{
    background-color: #272b2e;
}

.content_text{
    display: block;
}

.topicos_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5em;
}

.topico{
    margin-right: .75em;
    margin-right: .75em;
    height: 35em;  
}
.topico img{
    border-radius: 1em;
}

.h3_content{
    font-size: 1.7em;
    margin-left: .3em;
    margin-bottom: .2em;
    max-width: 82%;             
}

.p_topic{
    margin-left: .3em;
    margin-bottom: 2em;
    color: #B5B7B8;
    max-width: 82%;
}

.a_topic{
    color: white;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: .3em;
}

.a_decoration{
    border: none;
    padding-left: .5em;
    font-size: 1.2em;
}

footer{
    background-color: black;
    padding: 2em 3em 3em;
}

.section_footer{
    display: flex;
    gap: 2.5em;
    max-height: 30em;
    max-width: 100%;
    margin: 1em; 
    margin-left: 5em;    
}

.section_footer li{
    padding-bottom: .8em;
}

.h3_footer{
    font-size: 1.3em;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
}

.other_services{
     padding-inline-start:0;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.go_start{
    display: flex;
    justify-content: flex-end;
    color: #B5B7B8;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1em;
}

.social_media{
    display: flex;
    justify-content: end;
    margin-top: 5em;    
}

.social_media img{
    width: 1em;
    background-color: #181D25;
    margin-right: .3em;
    padding: 1em;
    border-radius: 1.3em;    
}

.last_div-footer{
    margin-left: 1em; 
    margin-top: 3.5em;
    display: flex;
    align-items: center;
    color: #B5B7B8;
    font-size: .87em;
}

.last_div-footer a{
    color: #B5B7B8;
    text-decoration: none;
    
}

.last_div-footer ul{
    display: flex;
    
}
.last_div-footer li{
    margin: 1em;
    list-style-type: none;
}

img[alt="ibama logo"]{
    content:icon;
    align-items: center;
    max-width:2.8em;
    border-radius: 2em;
}

.ibama{
    display: flex;
    margin: 2em;
    align-items: center;
}
.ibama p{
    margin-left: 1em;
    font-size: .8em;
    color:#B5B7B8;
    font-weight: bold;
}

